# Exclude directories
.git/
node_modules/
dist/
build/
*.log
web/node_modules/
web/.output/
web/.vinxi/
web/pnpm-lock.yaml

# Secrets
.env
.env*.local
**/secrets.yaml

# Exclude editor and OS files
.idea/
.vscode/
.DS_Store
